<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<link href="lib/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
		
		
		<style type="text/css">
			body {height:100vh;} #map2 { height:300px; width:450px; } .search-results { list-style-type:none !important; }
		</style>
		<title>
			HIV Resource Guide
		</title>
		
		<script src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&sensor=false"></script>
		
		<script src="lib/angularjs/1.4.8/angular.min.js"></script>
		<script src="lib/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
		
		<script src="lib/angular-ui/0.4.0/angular-ui.min.js"></script>
		<script src="lib/angular-media-queries/match-media.js"></script>
		<script src="lib/dirPagination.js"></script>
		<script src="lib/jquery/1.12.2/jquery.min.js"></script>
		
		<script src="lib/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="lib/bootstrap/ui-bootstrap-tpls-0.12.1.min.js" data-require="ui-bootstrap@*" data-semver="0.12.1" ></script>
		<script src="lib/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
		
		
		<script src="lib/select2/4.0.2/js/select2.min.js"></script>
		
		
		<script src="js/srcJ.js"></script>
		
		<script type="text/javascript">
		var getUsrLoc;
		var ipGetAdd;

//Executes when the page First Loads
            $(document).ready(function () {

                var FirstTimeVisit = localStorage.getItem("firsttimevisit");

                $("#IntroductionMessage").hide();
                if (FirstTimeVisit === null) {
                    $("#IntroductionMessage").show();
                }


                localStorage.setItem("firsttimevisit", "no");




//Load Provider Data for Advanced Search
                var providerData = [];

                $.when(getSearchProviders()).done(function () {
                    $(".search-providers").select2({
                        data: providerData,
                        tags: false,
                        placeholder: 'Providers',
                        closeOnSelect: false,
                        allowClear: true,
                        multiple: true
                    });
                });

                function getSearchProviders() {
                    var dfr = $.Deferred();
                    $.ajax({
                        url: "json/providerlistJSON.cfm",
                        dataType: 'json',
                        timeout: 3000,
                        success: function (results) {
                            for (var i = 0; i < results.ROWCOUNT; i++) {
                                providerData.push({
                                    id: results.DATA.ID[i],
                                    text: results.DATA.NAME[i]
                                });
                            }
                            dfr.resolve();
                        },
                        error: function (req, status, error) {
                            console.log("get Provider data failed!");

                        }
                    });
                    return dfr.promise();
                }
                ;

//Load Services Data for Advanced Search
                var serviceData = [];

                $.when(getSearchServices()).done(function () {
                    $(".search-services").select2({
                        data: serviceData,
                        tags: false,
                        placeholder: 'Services',
                        closeOnSelect: false,
                        allowClear: true,
                        multiple: true
                    });
                });

                function getSearchServices() {
                    var dfr = $.Deferred();
                    $.ajax({
                        url: "json/servicelistJSON.cfm",
                        dataType: 'json',
                        timeout: 3000,
                        success: function (results) {
                            for (var i = 0; i < results.ROWCOUNT; i++) {
                                serviceData.push({
                                    id: results.DATA.ID[i],
                                    text: results.DATA.NAME[i]
                                });
                            }
                            dfr.resolve();
                        },
                        error: function (req, status, error) {
                            console.log("get Service data failed!");
                        }
                    });
                    return dfr.promise();
                }
                ;


                $("#btnSearch").on("click", function () {

                    $("#advancedSearch").collapse("hide");
                    var searchterms = $('.search-terms').val();
                    var searchProviders = [];

                    var searchProvidersData = $('.search-providers').select2('data');
                    if (searchProvidersData.length > 0) {

                        for (var i = 0; i < searchProvidersData.length; i++) {
                            searchProviders.push(searchProvidersData[i].id);
                        }
                    }

                    var searchServices = [];
                    var searchServicesData = $('.search-services').select2('data');
                    if (searchServicesData.length > 0) {

                        for (var i = 0; i < searchServicesData.length; i++) {
                            searchServices.push(searchServicesData[i].id);
                        }
                    }
                
                var geocoder = new google.maps.Geocoder();    
                var address = document.getElementById("cityZip").value;
                var miles =  0;
                var userLoc;
               
                if (document.getElementById("box").checked == true) {
                	miles =  parseInt(document.getElementById("miles").value);
                	
                	if (typeof(getUsrLoc) != "undefined") {
                		angular.element($('#myCtrlDiv')).scope().getFilteredData(searchterms, searchProviders.join(','), searchServices.join(','),getUsrLoc,miles);
                	}
                	else {
	                	geocoder.geocode({ 'address': address }, function (results, status) {
	                    	if (status == google.maps.GeocoderStatus.OK) {
	                  		userLoc = new google.maps.LatLng(results[0].geometry.location.lat(),results[0].geometry.location.lng());
					angular.element($('#myCtrlDiv')).scope().getFilteredData(searchterms, searchProviders.join(','), searchServices.join(','),userLoc,miles);                    
	                    	} 
	                    	else {
	                  		angular.element($('#myCtrlDiv')).scope().getFilteredData(searchterms, searchProviders.join(','), searchServices.join(','),ipGetAdd,miles);
	                    	}
	                	});
                	}
			   	}  
		  else {
                    	angular.element($('#myCtrlDiv')).scope().getFilteredData(searchterms, searchProviders.join(','), searchServices.join(','),userLoc,miles);
               		}
               	    
                });
            });
		$(function(){
		$("#box").change(function(){
			var ck = this.checked;
			if(ck){
			$("#miles,#cityZip,#geoButton").prop("disabled",false);

			}else{
			$("#miles,#cityZip,#geoButton").prop("disabled",true);
			}
		});
	});	

		function getLocation() {
		    if (navigator.geolocation) {
		        navigator.geolocation.watchPosition(showPosition);
		    } else {
		        alert("Geolocation is not supported by this browser.");
		    }
		}

		function showPosition(position) {
			 getUsrLoc = (new google.maps.LatLng(position.coords.latitude,position.coords.longitude));
						 
		}
	
		function refreshPage(){
				window.location = ".";
			}

		function calcDistance(p1, p2) {
	 			return (google.maps.geometry.spherical.computeDistanceBetween(p1, p2)*0.000621371192).toFixed(2);
			}
		
		//getting location through IP address of the user	
		
		$.get("http://ipinfo.io", function(response) {
		      ipGetAdd = (new google.maps.LatLng(response.loc.split(',')[0],response.loc.split(',')[1]));
		}, "jsonp");
        </script>
        
	</head>
	<body ng-app="myModule" style="background-color:#DDDDDD ; min-width:300px; ">
		<div class="container-fluid" style="height:100%">
			<table ng-controller="myController" id="myCtrlDiv" name="myCtrlDiv" style="height:100%;width:100%;  ">

				<tbody style="height:100%">
			<!---  	____________
					|||||||||||||
					|||||||||||||
					|	        |
					|	        |
					|	        |
					|	        |
					|	        |
					--->
					<tr style="height:80px;">

						<td colspan="2" style="background: url(img/nycskyline.jpg) no-repeat ; padding-bottom:10px; height:80px;">
							<div class="row" >
								<div class="col-xs-offset-1"  >
									<h2 style="color:white; padding:0px; padding-right:15px; margin:0px; margin-top:5px;"  >
										<span style="cursor:pointer;" onclick="refreshPage();">
											HIV Resource Guide
										</span>
									</h2>
								</div>
							</div>
							<!--- Main Search Bar --->
							<div class="row" >
								<div class="col-xs-1 " style="padding:0px; margin:0px; padding-left:18px;  top: 15px;  font-size: 1.5em;" >
									<a style="cursor:pointer; color:white" onclick="$('#IntroductionMessage').toggle();">
										<span  aria-label="What is this?" class="glyphicon glyphicon-question-sign" >
										</span>
									</a>
								</div>
								<div class="col-xs-10  col-sm-5 col-sm-offset-2" style="padding-bottom:0px; " >
									<form>
										<div id="BasicSearch" class="input-group " style="margin:0px;" >
											<input class="form-control search-terms" placeholder="Search" type="text" autofocus="autofocus" />
											<div class="input-group-btn">
												<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#advancedSearch"  >
													<span class="caret" ></span>
												</button>
												<button type="submit" class="btn btn-default"  id="btnSearch" >
													<span class="glyphicon glyphicon-search"></span>
													Search
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<!--- Advanced Tab Drop Down --->
							<div class="row collapse" id="advancedSearch" style="padding-bottom:0px;" >
								<div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-3" style="">
									<div class="panel panel-default" style="padding-bottom:0px; margin-top:5px;margin-bottom:0px;">
										<div class="panel-heading">
											<h4 class="panel-title" style="margin:0px" >
												Advanced Filters
											</h4>
										</div>
										<div class="panel-body">
											<form>
												<div class="form-group" >
													<label for="ProviderSearch">
														Any of these Providers:
													</label>
													<select class="search-providers form-control selectpicker js-example-responsive" style="width:90%"  multiple="multiple" id="ProviderSearch">
													</select>
												</div>
												<div class="form-group" >
													<label for="ServiceSearch">
														Any of these Services:
													</label>
													<select class="search-services form-control selectpicker js-example-responsive" style="width:90%" multiple="multiple" id="ServiceSearch">
													</select>
												</div>
												<div class="form-group">
													<label class="checkbox-inline"><input type="checkbox" id="box"><b>Radial<br />Search</b></label>
													<label for="distanceInMiles">&nbsp&nbspWithin</label>
													<label for="Miles">
												  	<select class="form-control" id="miles" disabled="true">
													    <option>25mi</option>
													    <option>50mi</option>
													    <option>100mi</option>
													    <option>200mi</option>
												  </select></label>
												  <label for="zip">&nbspOf&nbsp</label>
												  <label style="width:175px;" ><input type="text" class="form-control" id="cityZip" disabled="true" style="width:100%"></label>
												  <button type="button" onclick="getLocation()" id="geoButton" disabled="true" class="btn btn-default btn-sm">
											          <span class="glyphicon glyphicon-map-marker"></span>
											       </button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr style="height:50px;" id="IntroductionMessage" >
						<td colspan="2"   >
							<div class="alert alert-info"   style=" margin-bottom:0px; margin-top:5px; padding-bottom:5px; " >
								<a href="#" class="close" onclick="$('#IntroductionMessage').hide()" aria-label="close">
									&times;
								</a>
								<strong>
									Welcome!
								</strong>
<p>
								This application was designed to help find providers near you who offer the services you need. You can start using our search by entering what you are looking for or browse our most popular results below.
</p>
							<button type="button" class="btn btn-primary center-block" style="margin-top:5px;margin-bottom:5px;"  onclick="$('#IntroductionMessage').toggle();" >Close</button>
							</div>
						</td>
					</tr>

					<tr >
				<!---  	____________
						|           |
						|   ____    |
						|	|	|   |
						|	|   |   |
						|	|   |   |
						|	|___|   |
						|	        |
						--->
						<td style="width:350px; padding-top:5px; padding-right:5px; height:80%" valign="top">
							<!---  Full Screen Modal View  --->
							<div class="modal fade" id="service-info" tabindex='-1'  >
								<div class="modal-dialog modal-lg center-block" style="">
									<div class="modal-content" >
										<div class="modal-header" >
											<button type="button" class="close" data-dismiss="modal">
												&times;
											</button>
											<h4>
												{{activeResults.Name}}
											</h4>
										</div>
										<div class="modal-body" >
											<div class="row">
												<div class="col-sm-5">
													<div class="panel panel-primary center-block" style="max-width:350px;">
														<div class="panel-heading">
															Information
														</div>
														<div class="panel-body list-group">
															<div class="list-group-item" style="cursor:pointer;">
																<a ng-href="https://www.google.com/maps?q={{activeResults.Address}}" target="_blank">
																	<span class="glyphicon glyphicon-map-marker">
																	</span>
																	{{ activeResults.Address}}
																</a>
															</div>
															<div class="list-group-item">
																<div style="float:left;">
																	<span class="glyphicon glyphicon-calendar">
																	</span>
																</div>
																<div ng-bind-html='activeResults.Hours'>
																</div>
															</div>
															<div class="list-group-item">
																<span class="glyphicon glyphicon-earphone">
																</span>
																{{ activeResults.Phone}}
															</div>
															<div class="list-group-item">
																<a ng-href="{{activeResults.WebSite}}" target="_blank">
																	<span class="glyphicon glyphicon-home">
																	</span>
																	Homepage
																</a>
															</div>
														</div>
													</div>
													<div class="panel panel-success center-block" style="max-width:350px;" >
														<div class="panel-heading">
															Location
														</div>
														<div class="panel-body">
															<div id="map2" class="img-responsive" >
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-7">
													<div class="panel panel-info" >
														<div class="panel-heading">
															Services
															<span class="badge">
																{{activeResults.Service.length}}
															</span>
														</div>
														<div class="panel-body list-group" style="">
															<li class="list-group-item" ng-repeat="name in activeResults.Service">
																{{name}}
															</li>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button class="btn btn-danger pull-right" data-dismiss="modal">
												Close
											</button>
										</div>
									</div>
								</div>
							</div>
							<!---  	____________
								|			|
								|		    |
								||||||	    |
								||||||		|
								||||||		|
								||||||		|
								||||||		|
								||||||		|
								|_|_||______|
								--->
							<div class="" id="srDiv" style="overflow:scroll; height:100% "  >
								<div ng-show="mobile" id="ResultsFound" style="padding-bottom:5px;width:300px;" class="center-block">
									Results
									<span class="badge" id="resultcountXS">
										0
									</span>
								</div>
								<div class="alert alert-danger hidden center-block" id="serverError" style="max-width:350px;" >
									<strong>
										Error!
									</strong>
									Server Connection Failed
								</div>
								<div class="alert alert-warning hidden center-block" style="max-width:350px;" id="NoResultsWarning" >
									No Search Results Found
								</div>
								<div style="margin-bottom:5px; max-width:350px;" class="panel panel-default search-results center-block" dir-paginate ="sr in searchResults | itemsPerPage: 4" current-page="currentPage"   >
									<div class="panel-heading" ng-click="showOnMap(sr, false)" style="cursor:pointer;">
										<h4 class="" style="margin:0px">
											{{ sr.Name}}
										</h4>
									</div>
									<div class="panel-body list-group"  style="border-top: 0px none; padding:5px;">
										<div class="list-group-item" style="cursor:pointer;">
											<a ng-href="https://www.google.com/maps?q={{sr.Address}}" target="_blank">
												<span class="glyphicon glyphicon-map-marker">
												</span>
												{{ sr.Address}}
											</a>
										</div>
										<div class="list-group-item" style="padding-top:5px;">
											<div style="float:left;">
												<span class="glyphicon glyphicon-calendar">
												</span>
											</div>
											<div ng-bind-html='sr.Hours'>
											</div>
										</div>
										<div class="list-group-item">
											<span class="glyphicon glyphicon-earphone">
											</span>
											{{ sr.Phone}}
										</div>
										<div class="list-group-item" style="border-bottom: 0 none;">
											<a ng-href="{{sr.WebSite}}" target="_blank">
												<span class="glyphicon glyphicon-home">
												</span>
												Homepage
											</a>
											<button class="btn btn-info pull-right btn-xs" data-toggle="modal" data-target="#service-info" ng-click="changeActiveMarker(sr.Index)" data-keyboard="true">
												More
											</button>
										</div>
									</div>
									<div class="panel-footer text-muted " style="font-size:small;" >
										{{ sr.ServiceMatch}} services matched your search
									</div>
								</div>
								<div align="middle">
									<dir-pagination-controls
										max-size="6"
										direction-links="true"
										auto-hide ="true"
										boundary-links="false"
										on-page-change="pageChanged()"
										>
									</dir-pagination-controls>
								</div>
							</div>
						</td>
						<!---  	____________
							|			|
							|		    |
							|	  |||||||
							|	  |||||||
							|	  |||||||
							|	  |||||||
							|	  |||||||
							--->
						<td style="height:80%; padding-top:5px;" ng-show="desktop" >

							<table style="height:100%; width:100%">
								<tbody style="100%">
									<tr style="height:20px;">
										<td style="height:20px; background-color:#f5f5f5">
											<div class="panel-heading" style="">
												Results
												<span class="badge" id="resultcount">
													0
												</span>
											</div>
										</td>
									</tr>
									<tr style="height:100%">
										<td style="height:100%">
											<div style="width:100%; height:100%" >
												<div id="map" style="height:100%;width:100%">
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</body>
</html>